*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "DM Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: weight;
    font-style: normal;
}

.nav{
    width: 1729px;
    height: 127px;
    background-color: #6F6AF7;
    position: fixed;
    z-index: 2;
    display: flex;
    align-items: center;
    /* justify-content: space-around; */
    /* font-family:Arial, Helvetica, sans-serif; */
}
.logo{
    padding: 0px 30px;
}
.nav ul{
    display: flex;
    align-items: center;
    justify-content: center;
    list-style: none;
}
.nav ul li{
padding: 0 30px;
    color: #FFFFFF;
    font-size: 36.43px;
    line-height: 47.43px;
    font-weight: 400;
}
.nav li input{
    color: #FFFFFF;
    width: 314px;
height: 57px;
border-radius: 63px;
border: none;
}
.arrow i{
    font-size: 15px;
    position: absolute;
    top: 56px;
    margin-left: 2px;
    
}
.nav button{
    background-color: #6F6AF7;
    color: #FFFFFF;
    border: none;
    width: 67px;
font-size: 46.61px;
}

::placeholder{
    padding: 20px;
    font-size: 20px;
}
#zoom{
    position: absolute;
    top: 52px;
    left: 1320px;
    font-size: x-large;
}

/* container css */

.container{
    display: flex;
    box-sizing: border-box;
    /* overflow-x: hidden; */
    width: 100%;
    height: 100vh;
    overflow-x: hidden;
    /* background-color: rgb(212, 32, 32); */
    height: 1000px;

}
.left{
  /* margin-top: 289px;   */
  position: absolute;
  width: 360px;
height: 507px;
top: 270px;
left: 69px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
opacity: 0px;

}
.text{
    /* margin-top: 289px;   */
    position: absolute;
    width: 800px;
height: 537px;
top: 289px;
left: 594px;
gap: 0px;
border-radius: 20px 0px 0px 0px;
border: 6px 0px 0px 0px;
opacity: 0px;

}
.text img{
    width: 100%;
    height: 507px;
}
.social {
    position: absolute;
    width: 112px;
height: 406px;
top: 60px;
left: 1400px;
padding: 173px 16px 0px 8px;
gap: 0px;
opacity: 0px;

}
.social img{
    position: sticky;
    top: 20px;
    width: 90%;
    /* height: 100%; */
}
.sticky{

    position: fixed;
    top:0;
    transition: 0.2s;
}
.text p{
    position: absolute;
    top: 39px;
    left: 30px;
    width: 700px;
    color:  #6F7373;
    
    font-weight: 400;
    font-size: 23px;
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}

/* PRICE CSS */
.price{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    height: 250px;
    /* border: 2px black solid; */
    padding: 40px;
    /* background-color: #6F7373; */
}
.box1{
   width: 300px;
   height: 130px;
   background-color: #929DFF;
    box-shadow: 0px 9px 31px 0px #00000066;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
   
}
.box2{
    width: 300px;
    height: 130px;
    background-color: #734CF2;
    box-shadow: 0px 9px 31px 0px #00000066;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
   
 }
 .box3{
    width: 300px;
    height: 130px;
    background-color: #D288FF;
    box-shadow: 0px 9px 31px 0px #00000066;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
   
 }
 .box4{
    width: 300px;
    height: 130px;
    background-color: black;
    box-shadow: 0px 9px 31px 0px #00000066;
    border-radius: 11px;
    color: #FFFFFF;
    font-size: 22px;
    font-weight: 700;
    padding: 20px;
   

 }
 .price div img{
    position: absolute;
    top: 1100px;
    left: 1265px;
 }
 /* Profile css */

 .profile{
    display: flex;
    align-items: center;
    justify-content: space-around;
    margin-left: 37px;
    width: 95%;
    height: 567px;
    background-color: #483EFF;
    border-radius: 21px;
    /* font-family:Arial, Helvetica, sans-serif; */

 }
.left1 div{
    margin: 25px;

}
 .your{
    color: black;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;
    height: 133px;
    width: 397px;
    background: #BCE0F6;
    box-shadow: 0px 6px 35px 0px #00000063;
border-radius: 
22px;

 }
 .book{
    color: white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;

    height: 133px;
    width: 397px;
    border: 2px white solid;
    box-shadow: 0px 6px 35px 0px #00000063;
border-radius: 
22px;

 }
 .set{
    color:white;
    font-size: 30px;
    font-weight: 700;
    text-align: center;
    padding-top: 40px;

    height: 133px;
    width: 397px;
    border: 2px white solid;
    box-shadow: 0px 6px 35px 0px #00000063;
border-radius: 
22px;

 }
 .right{
    width: 900px;
    height: 500px;
    background-color: white;
    border-radius: 
    19px;
 }

 .right h1{
    padding-top: 50px;
    padding-left: 40px;
    color: #04285A;
    

 }

 .right h2{
    padding-top: 30px;
    padding-left: 60px;
    color: #04285A;
    font-size: larger;
 }
 .right h2 span{
    color: #264a7f;
    font-size: medium;
    margin-left: 30px;

 }
 .right button{
    height: 60px;
    width: 150px;
    background-color: black;
    color: white;
    border-radius: 9px;
    float:right;
    font-size: 25px;
    font-weight: 400;
    margin-right: 30px;
    margin-top: 110px;
 }

 .right button i{
    font-size: 20px;
 }